.navMobile {
    background: #1A1B22;
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all .35s ease-in-out;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.navMobile__ul {
    position: absolute;
    top: 0%;
    height: 230px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    background: #1A1B22;
    width: 100%;
    padding-top: 100px;
    color: hsl(0, 0%, 100%);
}

button.navMobile__signin {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    background: transparent;
    border-radius: 100px;
    align-items: center;
    text-align: center;
    color: #ffff;
    border: 1px solid #FFFFFF;
    height: 56px;
    width: 288px;
    display: block;
    padding: 16px 16px;
    margin: 0 auto;
}

button.navMobile__signin:hover {
    color: #9b9b9b;
    border: 1px solid #9b9b9b;
}

p.navMobile__home {
    padding: 10px 16px;
}

p.navMobile__home:hover {
    color: #9b9b9b;
    border: 1px solid #9b9b9b;
}

.nav_active {
    opacity: 1;
    visibility: visible;
}

.img.navSecond {
    transform: rotate(45deg);
}

.navMobile__home>a {
    color: #ffff;
    text-decoration: none;
}

.navMobile__home>a:hover {
    color: #9b9b9b;
}

@media screen and (max-width: 565px) {
    .navMobile__ul>p {
        padding-left: 16px;
        text-decoration: none
    }
    p.navMobile__ul-saved-articles>a {
        text-decoration: auto;
        color: #ffff;
    }
    .navMobile__ul-home>a .active {
        text-decoration: none;
        cursor: pointer;
        color: #ffffff;
    }
    p.navMobile__ul-home>a {
        text-decoration: none;
        cursor: pointer;
        color: #ffffff;
    }
}