.header {
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    position: relative;
}

ul {
    list-style-type: none
}

li.header__home.header__button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
}

.header__wrap {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background: rgba(196, 196, 196, 0.01);
    top: 0;
    z-index: 1;
    align-items: center;
    max-width: 1440px;
    height: 80px;
}

.header__logo {
    width: 140px
}

li.header__link.header__button {
    background: transparent;
    color: #A9A9A9;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    float: right;
    cursor: pointer;
}

.header__div {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: baseline;
    float: right;
    justify-content: space-between;
    gap: 42px;
    margin: 0;
}

.header__button-image {
    padding-left: 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    width: 17.41px;
    height: 16px;
}

.header__button-image-dark {
    padding-left: 20px;
    width: 17.41px;
    height: 16px;
}

a.header__redirect-text {
    position: absolute;
    width: 64px;
    height: 22px;
    top: 51px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: unset;
}

.header__navburger {
    display: none;
}

li.header__link.header__button {
    background: transparent;
    color: #f9f9f9;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    float: right;
    cursor: pointer;
    border: 1px solid #D1D2D6;
    backdrop-filter: blur(4px);
    border-radius: 100px;
    padding: 12px 42px;
    transition: all 0.3s ease-in-out;
}

.header__button-dark {
    background: transparent;
    color: rgba(26, 27, 34, 1);
    font-weight: 400;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    float: right;
    cursor: pointer;
    border: 1px solid rgba(26, 27, 34, 1);
    backdrop-filter: blur(4px);
    border-radius: 100px;
    padding: 12px 42px;
}


/* ! */

.dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

a.header__link.header__button.header__active-white:hover {
    color: rgba(232, 232, 232, 1);
}

.selected {
    border-bottom: 3px solid white;
    padding-bottom: 23px;
}

.selected-dark {
    border-bottom: 3px solid rgba(26, 27, 34, 1);
    padding-bottom: 23px;
}

.white-bg {
    background-color: #FFFF;
}

.header__active-white {
    color: #FFFF;
    text-decoration: auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.li__active-dark {
    color: #1A1B22;
    text-decoration: auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

li.header__home.header__button>a {
    background-color: transparent;
    text-decoration: none;
    color: #FFFFFF;
}

li.header__link.header__button:hover {
    color: #9b9b9b;
    border: 1px solid #9b9b9b;
}

@media screen and (max-width: 565px) {
    .header {
        z-index: 2;
        padding: 16px 0;
        top: 0;
    }
    .header__div {
        display: none;
    }
    .header__navburger {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;
        gap: 4px;
        cursor: pointer;
    }
    .header__navburger>img {
        height: 3px;
        transition: all 0.3s ease-in-out;
    }
    .header__navburger.open img.navFirst {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .header__navburger.open img.navSecond {
        transform: rotate(-45deg);
    }
    .header__wrap {
        padding: 0 20px;
    }
}