.savedNews {
    background: #ffffffff;
}

.NewsCardList-container {
    background-color: #F5F6F7;
}

.savedNews__text {
    background: #ffffffff;
    align-items: baseline;
    position: relative;
    display: grid;
    justify-items: start;
    justify-content: center;
    margin-left: -613px;
}

p.savedNews__P {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(26, 27, 34, 0.5);
}

.savedNews__hsecond {
    font-family: 'Roboto-slab', Arial, Helvetica, sans-serif;
    ;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
}

@media screen and (max-width: 1253px) {
    .savedNews__hsecond {
        font-size: 30px;
    }
    .savedNews__text {
        background: #ffffffff;
        align-items: baseline;
        position: relative;
        display: grid;
        justify-items: start;
        justify-content: center;
        margin-left: -347px;
    }
}

@media screen and (max-width: 800px) {
    .savedNews__text {
        justify-items: start;
        justify-content: start;
        margin-left: 30px;
    }
}

@media screen and (max-width: 565px) {
    .savedNews__text {
        margin-left: 0px;
        padding-left: 16px;
    }
}