/* .NewsCardList {
    margin: 62px 106px;
} */

.NewsCardList__cards {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    grid-gap: 16px;
    justify-content: center;
    padding: 62px 102px;
}

@media screen and (max-width: 1110px) {
    .NewsCardList__cards {
        grid-template-columns: 0fr 0fr;
    }
}

@media screen and (max-width: 740px) {
    .NewsCardList__cards {
        grid-template-columns: 0fr;
    }
}

@media screen and (max-width: 565px) {
    article.NewsCard {
        max-width: auto;
        border-radius: 10px;
        border: 1px solid;
        max-height: auto;
    }
}