/* .NewsCardList {
    margin: 62px 106px;
} */

.NewsCardList__cards {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    grid-gap: 16px;
    justify-content: center;
    padding: 62px 102px;
}

@media screen and (max-width: 1110px) {
    .NewsCardList__cards {
        grid-template-columns: 0fr 0fr 0fr;
    }
}

@media screen and (max-width: 740px) {
    .NewsCardList__cards {
        grid-template-columns: 0fr 0fr;
    }
}

@media screen and (max-width: 565px) {
    .NewsCardList__cards {
        grid-template-columns: 0fr;
        padding: 62px 16px;
    }
}