/* .NewsCardList {
    margin: 62px 106px;
} */

.NewsCardList__cards {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    grid-gap: 16px;
    justify-content: center;
    padding: 62px 102px;
}

button.NewsCardList__button {
    background: #FFFFFF;
    border-radius: 80px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    grid-column: 2 / 3;
    cursor: pointer;
    width: 288px;
    height: 64px;
    border: none;
}

.NewsCardList__button:hover {
    background-color: #d3d3d3;
}

.NewsCardList__cards-listItem {
    margin: 0 auto;
}

@media screen and (max-width: 1110px) {
    .NewsCardList__cards {
        grid-template-columns: 0fr 0fr 0fr;
    }
}

@media screen and (max-width: 740px) {
    .NewsCardList__cards {
        grid-template-columns: 0fr 0fr;
    }
}

@media screen and (max-width: 565px) {
    .NewsCardList__cards {
        grid-template-columns: 0fr;
        padding: 62px 16px;
    }
}