article.NewsCard {
    max-width: 400px;
    border-radius: 10px;
    border: 1px solid;
    max-height: 576px;
    background-color: #ffff;
}

.NewsCard-img {
    width: 400px;
    height: 272px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.NewsCard-text-container {
    height: 88px;
    overflow: hidden;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

p.NewsCard-text-date {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B6BCBF;
    margin: 20px 40px 0px 40px;
}

h3.NewsCard-text-title {
    font-family: 'Roboto-slab', Arial, Helvetica, sans-serif;
    ;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin: 16px 40px;
}

p.NewsCard-text-text {
    margin: 0px 40px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
}

p.NewsCard-text-tags {
    font-family: 'Roboto-slab', Arial, Helvetica, sans-serif;
    ;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    margin: 40px;
}

button.NewsCard-img-icon {
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    height: 40px;
    width: 40px;
}

button.NewsCard-img-icon>img:hover {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.NewsCard-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 24px;
    padding-top: 24px;
}

button.NewsCard-img-tagBtn {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 8px 22px;
    border: none;
}

button.news-card__tootltip {
    margin-right: 200px;
    position: relative;
    left: 159px;
    background: #FFFFFF;
    box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
    border-radius: 10px;
    width: 159px;
    height: 40px;
    top: -40px;
}

@media screen and (max-width: 1253px) {
    .NewsCard-img {
        width: 224px;
    }
    article.NewsCard {
        max-width: 224px;
    }
    h3.NewsCard-text-title {
        font-size: 22px;
        line-height: 24px;
    }
    p.NewsCard-text-text {
        max-width: 192px;
    }
    button.news-card__tootltip {
        left: 55px;
        top: 15px;
    }
}

@media screen and (max-width: 565px) {
    .NewsCardList__cards {
        padding: 24px 16px;
    }
    .NewsCard-img {
        width: 288px;
    }
    article.NewsCard {
        max-width: 288px;
    }
}